nav.responsive-toolbar{
  background: #333;
  height: 60px;
  width: 100%;
  position: fixed;
  box-shadow: 2px 2px 2px #ccc;

  ul{
    background: #333;
    display: flex;
    align-items: center;
    height: 100%;
    box-shadow: 2px 2px 2px #ccc;

    figure{
      color: white;
      font-size: 30px;
      display: flex;
      align-items: center;
      margin-left: 30px;
      cursor: pointer;

    }
  }

  li{
    list-style-type: none;
    cursor: pointer;
    padding: 10px 20px;

  }

  a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    i{
      margin-right: 5px;
      font-size: 20px;
    }
  }
}


*{
  margin:0;
  padding: 0;
}

@media only screen and (max-width: 759px){
    nav.responsive-toolbar{
      ul{
        height: 100%;
        width: 300px;
        position: fixed;
        left: -240px;
        top: 60px;
        flex-direction: column;
        transition: 300ms ease all;

        &.active{
          left: 0px;
          opacity: 0.9
        }

        figure{
          position: fixed;
          left: -10px;
          top: 10px;
        }

        li{
          width: 100%;
          font-size: 20px;
          padding-left: 0;
          padding-right: 0;
          margin-top: 19px;
          margin-left: 0;


        }
        a{
          flex-direction: row;
          justify-content: space-between;
          margin-right: 16px;
          padding-left: 10px;
        }
      }
    }
}
