nav.responsive-toolbar{
  background: #333;
  height: 60px;
  width: 100%;
  position: fixed;
  box-shadow: 2px 2px 2px #ccc;

  ul{
    background: #333;
    display: flex;
    margin: 0;
    height: 100%;
    padding-top: 0;
    align-items: center;
    box-shadow: 2px 2px 2px #ccc;

    figure{
      margin: 0;
      padding-inline-start:0;

      margin-right: 2px;
      cursor: pointer;
    }
  }
  li{
    list-style: none;
    padding:10px 20px;


  }
  a{
    color: white;
    text-decoration:none;
  }
}



body{
  margin:0;
  padding: 0;
}


@media screen and (max-width: 750px){
  nav.responsive-toolbar{
    ul{
      height: 100%;
      width:300px;
      left: -240px;
      position: fixed;
      top: 60px;
      flex-direction: column;
      transition: 300ms ease all;

      &.active{
        left:0px;
      }

      figure {
        position: fixed;
        left: 35px;
        top:10px;
      }

      li{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: 20px;
        margin-right: 13px;
      }
      a{


      }
    }
  }
}
